.lang
  position: relative
  cursor: pointer
  &:hover
    .lang
      &__head
        border-radius: 5px 5px 0 0
      &__body
        opacity: 1
        visibility: visible
  &__head
    background-color: $accent
    border-radius: 5px
    padding: 10px 13px
    font-size: 24px
    font-weight: 400
    color: #fff
    +r(1599)
      font-size: 20px
    +r(767)
      font-size: 14px
      padding: 5px 8px
  &__body
    position: absolute
    top: 100%
    left: 0
    width: 200px
    padding: 10px 15px
    background-color: $accent
    border-radius: 0 5px 5px 5px
    opacity: 0
    visibility: hidden
    +trans
    +r(480)
      width: 145px
  &__list
    margin: 0
    padding: 0
    list-style: none
    li
      margin-bottom: 10px
      &:last-child
        margin-bottom: 0
    a
      display: block
      font-size: 16px
      color: #fff
      &:hover, &:focus
        color: rgba(#fff, 0.5)