.form-group
  position: relative
  margin-bottom: 20px
  &:last-child
    margin-bottom: 0
input:not([type="submit"]), textarea
  width: 100%
  padding: 15px 20px
  background: none
  border: 0
  border-bottom: 1px solid $mystic
  border-radius: 0
  box-shadow: none
  font-size: 24px
  font-weight: 400
  +r(1200)
    font-size: 20px
  &:focus
    outline: none
textarea
  height: 150px
input[type="submit"]
  background: none
  border: 0
  padding: 0
  font-size: 36px
  font-weight: 400
  color: $accent
  cursor: pointer
  +trans
  +r(1200)
    font-size: 28px
  &:hover, &:focus
    color: lighten($accent, 10%)
  &:focus
    outline: none

span.wpcf7-not-valid-tip
  position: absolute
  width: 200px
  font-size: 14px
  top: calc(100% + 15px)

textarea
  + span.wpcf7-not-valid-tip
    top: 100%