.vc_row-has-fill
  .s-partner
    padding-top: 55px
    +r(767)
      padding-top: 15px
.s-partner
  padding: 90px 0 200px
  +r(992)
    padding: 90px 0
  +r(767)
    padding: 50px 0

.partner
  display: flex
  align-items: center
  justify-content: space-between
  +r(992)
    padding-bottom: 80px
  &.swiper-container
    padding-bottom: 80px
  .swiper-wrapper
    align-items: center
  &__item
    margin-right: 30px
    text-align: center
    +r(992)
      margin-right: 0
    &:last-child
      margin-right: 0
  .swiper-pagination-bullet
    background-color: rgba(#fff, 0.5)
    &-active
      background-color: rgba(#fff, 1)
