.s-advantages
  padding-top: 65px
  +r(767)
    padding-top: 50px
    padding-bottom: 20px

.advantages
  position: relative
  margin-bottom: 30px
  padding: 310px 80px 155px
  font-size: 30px
  line-height: 1.3
  +r(1200)
    padding: 260px 60px 75px
    font-size: 22px
  +r(992)
    padding: 150px 40px 40px
    font-size: 20px
  +r(576)
    padding: 100px 20px 20px
    font-size: 18px
  p
    margin: 0
  &--img
    &::before
      content: ''
      position: absolute
      right: -195px
      top: 130px
      width: 195px
      height: 100px
      background-color: $accent
      +r(1200)
        top: 20px
      +r(767)
        top: -15px
        right: 0
    img
      max-width: none !important
      position: relative
      top: 180px
      left: 110px
      +r(1200)
        top: 60px
        left: 40px
      +r(992)
        max-width: 510px !important
      +r(767)
        max-width: 100% !important
        left: auto
        top: auto
  &__icon
    position: absolute
    top: 100px
    left: 80px
    +r(1200)
      width: 100px
      left: 60px
    +r(992)
      top: 40px
      left: 40px
      width: 70px
    +r(576)
      width: 50px
      left: 20px
      top: 20px
  &__title
    font-size: 48px
    font-weight: 400
    line-height: 1
    color: $shark
    +r(1200)
      font-size: 38px
    +r(992)
      font-size: 28px