.section-text
  p
    margin-bottom: 35px
    &:last-child
      margin-bottom: 0
  img
    margin: 65px 0 100px
    +r(992)
      margin: 15px 0 50px
  a
    text-decoration: underline
  &__right
    h3
      margin-bottom: 15px
      font-size: 48px
      font-weight: 400
      color: $shark
      +r(1200)
        font-size: 38px
    &--float
      position: relative
      width: 1000px
      min-height: 540px
      margin-top: -380px
      padding: 70px 80px
      background-color: $catskill-white
      z-index: 1
      +r(1200)
        margin-top: -290px
        min-height: 400px
      +r(992)
        width: auto
        padding: 30px
        min-height: auto
        margin-top: -35px
      +r(767)
        margin-top: 0
      h3
        margin-bottom: 15px
        font-size: 48px
        font-weight: 400
        color: $shark
        +r(1200)
          font-size: 38px
      .wpb_wrapper
        max-width: 350px
  &__block-icon
    background-color: $catskill-white
    height: 115px
    text-align: center
    margin-top: 85px
    margin-bottom: 110px
    +r(767)
      margin-top: 0
    img
      margin: -15px 0 0 0
  &__map
    position: relative
    display: flex
    margin: 115px 0
    z-index: 1
    +r(992)
      flex-direction: column
    +r(767)
      margin: 50px 0
    &::before
      content: ''
      position: absolute
      top: -20px
      left: 170px
      width: 1100px
      height: 390px
      background-color: $catskill-white
      z-index: -1
      +r(1200)
        width: 800px
        height: 280px
    &-left
      flex: 0 0 430px
      width: 430px
      margin-right: 30px
      +r(1200)
        flex: 0 0 340px
        width: 340px
      +r(992)
        flex: 0 0 auto
        width: auto
        margin-right: 0
      p
        margin-bottom: 60px
        +r(1200)
          margin-bottom: 40px
      ul
        li
          margin-bottom: 10px
          &:last-child
            margin-bottom: 0
    &-right
      img
        margin: 0
        max-width: none
        +r(1200)
          max-width: 100%
  &__row
    +r(992)
      margin-top: 50px
  &__bottom
    padding-top: 120px
    +r(992)
      padding-top: 0
  &__icon-wrap
    text-align: center
    img
      +r(992)
        width: 70px