.s-said
  padding: 285px 0 0
  background-color: $athens-gray
  +r(1599)
    padding-top: 200px
  +r(1200)
    padding-top: 130px
  .container
    display: flex
    justify-content: flex-end
    +r(767)
      justify-content: center

.said
  position: relative
  background-color: #fff
  z-index: 1
  max-width: 635px
  
  font-size: 32px
  .vc_column-inner > .wpb_wrapper
    padding: 170px 100px 50px 50px
    +r(1599)
      padding: 50px 100px 50px 50px
    +r(992)
      padding: 50px 30px
  +r(1200)
    max-width: 485px
  +r(992)
    max-width: 350px
    // padding: 50px 30px
    font-size: 22px
  +r(767)
    max-width: none
  &__img
    position: absolute
    top: -410px
    left: 0
    +r(1599)
      max-width: 1200px
    +r(1200)
      top: -255px
      max-width: 870px
    +r(992)
      top: -195px
      max-width: 580px
    +r(767)
      max-width: 100%
      top: -285px
    +r(480)
      top: -165px
  h2
    margin-bottom: 50px
    font-size: 64px
    font-weight: 400
    line-height: 1.2
    +r(1200)
      font-size: 46px
    +r(992)
      font-size: 32px
  a
    font-size: 24px
    +r(1200)
      font-size: 18px