.article
  &__publish
    font-size: 18px
    font-weight: 500
    color: $shark
  &__source
    margin: 0
    font-size: 16px
    font-weight: 400
    text-transform: uppercase
  &__img
    &-wrap
      position: relative
      margin: 100px 0
      z-index: 1
      +r(767)
        margin: 50px 0
      &::before
        content: ''
        position: absolute
        left: 0
        top: 170px
        width: 76.3%
        height: 65%
        background-color: $mystic
        z-index: -1
        +r(1200)
          top: 100px
        +r(767)
          top: 50px
      &::after
        content: ''
        position: absolute
        right: 0
        top: 610px
        width: 180px
        height: 80px
        background-color: $accent
        z-index: -1
        +r(1599)
          top: 480px
        +r(1200)
          top: 360px
        +r(992)
          width: 130px
          top: 290px
        +r(767)
          top: 150px
          width: 90px
        +r(480)
          display: none
    &-icon
      position: absolute
      top: 710px
      left: 73%
      +r(1599)
        top: 570px
      +r(1200)
        width: 100px
        top: 430px
      +r(992)
        width: 70px
        top: 360px
      +r(767)
        width: 50px
        top: 210px
      +r(480)
        display: none