.s-review
  padding-top: 120px
  +r(767)
    padding-top: 50px
  &__wrap
    padding: 0 340px 0 310px
    +r(1599)
      padding: 0 160px 0 130px
    +r(1200)
      padding: 0 120px 0 130px
    +r(992)
      padding: 0
    &--home
      padding: 0 145px 0 490px
      +r(1599)
        padding: 0 0 0 300px
      +r(1200)
        padding: 0 0 0 200px
      +r(992)
        padding: 0
  &.bg-d-gray
    padding-bottom: 190px
    +r(767)
      padding-bottom: 50px
    .review
      &__content
        color: #fff
      .swiper-pagination
        &-bullet:not(.swiper-pagination-bullet-active)
          background-color: #fff

.review
  padding-bottom: 100px
  +r(1200)
    padding-bottom: 70px
  +r(576)
    padding-bottom: 50px
  &__item
    padding-left: 85px
    +r(767)
      padding-left: 45px
    +r(576)
      padding-left: 25px
    &::before
      content: ''
      position: absolute
      left: 0
      top: 0
      width: 50px
      height: 75px
      background: url('../images/general/q.svg') no-repeat center / contain
      +r(767)
        width: 30px
        height: 55px
      +r(576)
        width: 15px
        height: 30px
  &__content
    position: relative
    margin-bottom: 25px
    padding-top: 50px
    +r(1200)
      padding-top: 30px
    +r(576)
      padding-top: 10px
    p
      margin-bottom: 0
  &__position
    margin-bottom: 0
    font-size: 30px
    color: $accent
    +r(767)
      font-size: 22px
  &__name
    font-weight: 400
    +r(576)
      display: block
      margin-bottom: 10px
  &__bottom
    margin: 0
    & > *:not(:last-child)
      margin-right: 20px
      +r(576)
        margin-right: 0
  &__link
    font-weight: 400
  &__note
    margin-top: 30px
    color: $accent
  .swiper-pagination
    bottom: 0
    padding-left: 85px
    text-align: left
    +r(767)
      padding-left: 45px
    +r(576)
      padding-left: 25px
  &--home
    padding-bottom: 30px
    .review
      &__content
        color: #fff
      &__name
        color: #fff
    .swiper-pagination
      &-bullet:not(.swiper-pagination-bullet-active)
        background-color: #fff

.home
  .s-review
    padding: 30px 0 190px
    //+r(992)
    //  padding-bottom: 120px
    +r(480)
      padding-bottom: 60px