.blog-prev
  position: relative
  height: 100%
  background:
    repeat: no-repeat
    position: center
    size: cover
  padding: 65px 80px 295px
  z-index: 1
  +r(1599)
    padding: 45px 50px 245px
  +r(992)
    height: calc(100% - 30px)
    margin-bottom: 30px
    padding-bottom: 160px
  +r(576)
    padding: 20px 25px 100px
  &::before
    content: ''
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    background-color: rgba(#fff, 0.2)
    z-index: -1
    +trans
  &:hover
    &::before
      background-color: rgba(#fff, 0)
  &__cat
    margin-bottom: 50px
    a
      font-size: 28px
      color: inherit
      +r(1200)
        font-size: 22px
      &:hover, &:focus
        color: $accent
  &__title
    max-width: 370px
    margin-bottom: 0
    font-weight: 400
    line-height: 1.2
    +r(1200)
      font-size: 32px
    +r(992)
      max-width: 450px
    +r(767)
      font-size: 28px
    a
      color: $shark
      &:hover, &:focus
        color: $accent
  &__more
    position: absolute
    right: 60px
    bottom: 60px
    font-weight: 400
    +r(576)
      right: 20px
      bottom: 20px